:root {

    --full-white: #fff;
    --full-black: #000;

    --patlib-black: #343434;
    --patlib-white: #fafafa;

    --patlib-primary: #369;
    --patlib-highlight: #DEF;
    --patlib-higherlight: #EFF;

    --brand-blue: #2E91D0; // curious blue
    --brand-green: #94C943; // atlantis
    --brand-orange: #F99C1E; // carrot
    
    --brand-black: #505050; // matterhorn
    --brand-white: #F8F8F8; // white smoke

    --tresbu-aqua: #1DC9CF; // robin egg
    --tresbu-sky: #6EC1E4; // malibu
    --tresbu-twilight: #4054B2; // free speech

    --tresbu-clover: #23A455; // eucalyptus
    --tresbu-lime: #61CE70; // fern
    
    --tresbu-lightgrey: #E1DDDD; // gainsboro
    --tresbu-midgrey: #7A7A7A; // grey
    --tresbu-darkgrey: #54595F; // bright grey
    --tresbu-midnight: #405169; // east bay
    
    // --e-global-color-ed006ba: #94CB43;

    --tresbu-offwhite: #FDFAFA; // snow
    --tresbu-offblack: #020101; // night rider

}

html {
    scroll-behavior: smooth;
}

.text-color-white {
    color: var(--brand-white);
}

.text-color-black {
    color: var(--brand-black);
}

.text-color-primary {
    color: var(--brand-primary);
}

.text-color-secondary {
    color: var(--brand-green);
}

.text-color-tertiary {
    color: var(--brand-orange);
}

.bg-color-primary {
    background-color: var(--brand-blue);
}

.bg-color-secondary {
    background-color: var(--brand-green);
}

.bg-color-tertiary {
    background-color: var(--brand-orange);
}

.bg-color-aqua {
    background-color: var(--tresbu-aqua);
}

.bg-color-sky {
    background-color: var(--tresbu-sky);
}

.bg-color-twilight {
    background-color: var(--tresbu-twilight);
}

.bg-color-clover {
    background-color: var(--tresbu-clover);
}


.bg-color-lime {
    background-color: var(--tresbu-lime);
}

