@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');


.type-listing {

  &.roboto {
    font-family: 'Roboto', sans-serif;

    .super-large {
      font-size: 5.7em;
      margin: 0;
      line-height: 1.2;
    }
  }

  p {
    line-height: 2;
  }

  h4 {
    text-transform: unset;
    line-height: 1.5;
  }

  .fw-100 {
    font-weight: 100;
  }

  .fw-400 {
    font-weight: 400;
  }

  .fw-700 {
    font-weight: 700;
  }
}

.type-scale-settings {
  border-collapse: collapse;
  width: 100%;
  margin: 2em 0;

  h1,h2,h3,h4 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
  }
  
  tr {
    border-bottom: 1px solid #afafaf;

    td {
      padding: 1em;
      width: 25%;
    }

    td:first-child {
      width: 50%;
    }
  }

}
